<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Enter the secret code</h1>
    <form action="" method="POST">
        <label for="secretcode">Secret Code</label>
        <input name="secretcode" placeholder="What's the word on the street, " type="text" required />
        <button>Submit</button>
    </form>
</body>
</html>