<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
        <label for="firstname">First name</label>
        <input name="firstname" placeholder="First Name" type="text" required />
        <label for="lastname">Last name</label>
        <input name="lastname" placeholder="Last Name" type="text" required />
        <label for="username">Email Address</label>
        <input name="username" placeholder="Email address" type="email" required />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input type="checkbox" id="admin" name="admin">
        <label for="admin">Admin</label>
        <button>Sign Up</button>
    </form>
</body>
</html>